<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camlawsocapp.culs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.camlawsocapp.culs.activities.SignUpActivity"
            android:configChanges="orientation"
            android:theme="@style/Spinner"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.camlawsocapp.culs.activities.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--uncomment this if you want the login page to come up every time the user closes the app
                <category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.camlawsocapp.culs.activities.OpeningTitlePage"
            android:hardwareAccelerated="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <!--<meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"
                     <category android:name="android.intent.category.LAUNCHER"/>-->

            </intent-filter>
        </activity>
        <activity android:name="com.camlawsocapp.culs.activities.MainActivity"
                android:hardwareAccelerated="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>

                <!--<meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"
                    />

                     -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.camlawsocapp.culs.helpers.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/culs_black_logo" />
    </application>
</manifest>